@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
  border: none;
  font-weight: 700;
  user-select: none;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background: #171717;
}

button {
  transition: background 150ms;
}

.content-container {
  max-width: 30rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #222222;
  padding: 0 1rem;
}

h1 {
  padding: .5rem;
}

hr {
  background: #171717;
  margin: .25rem 0;
  height: .25rem;
}

.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

#score-container p {
  font-size: 1rem;
}

#word-container,
#input-container {
  display: flex;
  font-size: 2rem;
  background: #171717;
  padding: .25rem;
  width: 100%;
}

#input-container.shake {
  animation: shake 500ms;
  animation-iteration-count: 1;
}

#word-container div,
#input-container div {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333333;
}

#scrmbl-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: #444444;
  border-radius: 50px;
  cursor: pointer;
}

#scrmbl-button:active {
  background: #333333;
}

#scrmbl-button i {
  font-size: 2rem;
}

#keyboard-container {
  width: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: .5rem .5rem;
}

.keyboard-row {
  display: flex;
  width: 100%;
  align-items: center;
}

.keyboard-row button {
  background: #444444;
  margin: 3px;
  width: 100%;
  height: 4rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.keyboard-row button:hover {
  background: #373737;
}

.keyboard-row button:active {
  background: #272727;
}

.keyboard-row .enter {
  font-size: .75rem;
  padding: 0 .75rem;
}

.keyboard-row .delete {
  font-size: .75rem;
  padding: 0 .65rem;
}

.keyboard-row .a {
  margin-left: 1.5rem;
}

.keyboard-row .l {
  margin-right: 1.5rem;
}

#info-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222222;
  top: -100%;
  bottom: 14rem;
  z-index: 1;
}

#info-container.active {
  animation: slideDown 500ms;
  top: 5rem;
}

#info-container.inactive {
  animation: slideUp 500ms;
  top: -100%;
  bottom: 100%;
}

#info-container h2,
#info-container h3,
#info-container li {
  margin: 1rem;
  list-style: none;
}

#info-container h3 {
  text-decoration: underline;
  margin-bottom: 2rem;
}

#info-container li {
  margin: 1rem;
}

#info-view {
  display: none;
  flex-direction: column;
}

#start-view.active {
  display: flex;
}

#start-button {
  background: #FFFFFF;
  margin: auto;
  margin-top: 2rem;
  font-size: 1rem;
  color: #222222;
  width: 6rem;
  height: 3rem;
  border-radius: 25px;
  cursor: pointer;
}

#start-button:hover {
  background: #DDDDDD;
}

#start-button:active {
  background: #BBBBBB;
}

#gameover-view {
  display: none;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes slideDown {
  0% { top: -100%; }
  100% { top: 5rem; }
}

@keyframes slideUp {
  0% { top: 5rem; }
  100% { top: -100%; }
}