@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* 
background: #171816
foreground: #544722
color: #E3B825
*/

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #EEEEEE;
  border: none;
  font-weight: 700;
  user-select: none;
  touch-action: manipulation
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  background: #171816;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 32.5rem;
  width: 100%;
  background: #544722;
  outline: 3px solid #544722;
  border-left: 5px solid #171816;
  border-right: 5px solid #171816;
}

/* ---- HEADER ----- */
header {
  background: #171816;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: .5rem;
}

img {
  width: 2rem;
  height: 2rem;
  background-size: 100%;
  background: #544722;
  border-radius: 50px;
  padding: .5rem;
  margin: .5rem 0;
}

h1 {
  padding: .5rem;
}

/* ---- DISPLAY ---- */
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

button {
  transition: background 150ms;
}

.game-container {
  max-width: 35rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

#score-container p {
  font-weight: 500;
  font-size: 1.25rem;
}

#word-container,
#input-container {
  display: flex;
  font-size: 2rem;
  background: #171816;
  width: 100%;
}

#input-container.shake {
  animation: shake 500ms;
  animation-iteration-count: 1;
}

.word-tile,
.input-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 2.5rem;
  margin: 1px;
  outline: 2px solid #171816;
  border: 2px solid #333333;
}

.word-tile.fade {
  color: #2c2e2a;
}

#scrmbl-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: #171816;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid #E3B825;
}

#scrmbl-button:active {
  background: #333333;
}

#scrmbl-button i {
  font-size: 1.5rem;
  color: #E3B825;
}

#scrmbl-button.active {
  animation: spin ;
}

#keyboard-container {
  width: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: .5rem 0;
}

.keyboard-row {
  display: flex;
  width: 100%;
  align-items: center;
}

.key {
  background: #444444;
  margin: 3px;
  width: 100%;
  height: 4rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.key:hover {
  background: #373737;
}

.key:active {
  background: #272727;
}

.key.fade {
  color: #2c2e2a;
}

.enter {
  font-size: .75rem;
  padding: 0 .75rem;
}

.delete {
  font-size: .75rem;
  padding: 0 .65rem;
}

.a {
  margin-left: 1.5rem;
}

.l {
  margin-right: 1.5rem;
}

#info-container {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  background: #171816;
  top: 4.25rem;
  bottom: 0;
  z-index: 1;
  width: 100%;
  max-width: 32.5rem;
}

#info-container.active {
  display: flex;
}

#info-container h2,
#info-container h3,
#info-container li,
#info-container p {
  margin: 1rem;
  list-style: none;
}

#info-container h3 {
  text-decoration: underline;
}

#info-container li {
  margin: 1rem;
}

.info-view {
  display: none;
  flex-direction: column;
  width: 100%;
}

#start-view.active {
  display: flex;
}

#start-button {
  background: #FFFFFF;
  font-size: 1rem;
  color: #222222;
  width: 6rem;
  height: 3rem;
  border-radius: 25px;
  cursor: pointer;
  align-self: center;
}

#start-button:hover {
  background: #DDDDDD;
}

#start-button:active {
  background: #BBBBBB;
}

#gameover-view {
  display: none;
}

#gameover-view.active {
  display: flex;
}

#share-button {
  background: #FFFFFF;
  font-size: 1rem;
  color: #222222;
  width: 6rem;
  height: 3rem;
  border-radius: 25px;
  cursor: pointer;
  align-self: center;
  margin-top: 2rem;
}

#share-button:hover {
  background: #DDDDDD;
}

#share-button:active {
  background: #BBBBBB;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}